<div class="bs-callout bs-callout-danger">
        <h4>Task General Description</h4>
        <p>
         Build a solution that gathers weather forecast data from publicly available weather API, stores it in a local database, and consume it via multiple clients - web client and server client.
        </p>
</div>
<div class="bs-callout bs-callout-danger">
        <h4>Badges to Unlock</h4>
        <h5>Consume third party REST API which will represent your weather service. You could choose from:</h5>
        <p>http://openweathermap.org</p>
        <p>https://www.weatherbit.io</p>
        <p>another API of your choice</p>
        <p>Set up a database in your app where the weather data will be replicated. Database is up to you.</p>
        <p>Collect and store in the database temperatures by city. Fetch data periodically (the timeframe is up to you) to feed your database.</p>
        <p>Create ServerAPP – Node.js http server that serves your application API. The API must be convenient for different types of clients or you can design separate APIs. The architecture choice is yours as long as you can defend it.</p>
        <p>Write unit and integration test suite for ServerAPP with https://github.com/tapjs/node-tap test runner</p>
        <p>Protect your API with authentication mechanisms. Basic auth is the minimum required. Add oAuth as an optional mechanism.</p>
        <p>Create two clients:</p>
        <p>Plain JavaScript client (PlainJSAPP) -> Consumes data served by the ServerAPP</p>
        <p>UI client e.g. web application (WebAPP) -> Consumes data served by the ServerAPP</p>
        <p>Add configuration approaches in the client applications in respect to switching between authentication mechanisms</p>
</div>
<div class="bs-callout bs-callout-danger">
        <h4>Application Features</h4>
        <h5>WebAPP</h5>
        <p> the user select a city for which the information will be retrieved.</p>
        <p>Display all available records from the database for selected by the user city, and the minimum and maximum temperatures on top, indicating the date and the season for which they were recorded.</p>
        <p>On initial load the app could display information for default city of your choice.</p>
        <h5>PlainJSAPP</h5>
        <p>Expose an API that could be reused in the WebAPP</p>
        <p>Logs the retrieved data on the console when used in standalone mode (outside WebAPP) </p>
</div>
<div class="bs-callout bs-callout-danger">
        <h4>Notes and Deliverables</h4>
        <p>Strive to write your code in the most maintainable and testable way you can think of</p>        
        <p>Beyond the requirements listed above the developer is free to enhance the application as desired</p>
        <p>The source code must be made available on Github as a public repository</p>
        <p>Please include instructions on required technologies and how to install & run the application</p>        
</div>