<!DOCTYPE html>
<html lang="en">
<head>
  <title>Weather Now</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="res/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="res/css/bootstrap.min.css">
  <link rel="stylesheet" href="res/css/weather.css">
  <link rel="stylesheet" href="res/css/home.css">
  <script src="res/libs/jquery.min.js"></script>
  <script src="res/libs/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron text-center">
  <h1>Simple Weather App</h1>
  <p>Check the weather forecast</p>
</div>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home">Simple Syrop</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/home">Home</a></li>
      <li><a href="/Sofia">Weather</a></li>
      <li><a href="/contacts">About me</a></li>
     {{#if user}}  
      <li role="presentation"><a href="/logout">Logout</a></li>
      {{else}}
      <li role="presentation"><a href="/login">Login</a></li>
      <li role="presentation"><a href="/register">Register</a></li>
      {{/if}}
    </ul>
  </div>
  <div class="container">
  <ul class="list-inline">
    <li><a href="/Sofia">Sofia</a></li>
    <li><a href="/Plovdiv">Plovdiv</a></li>
    <li><a href="/Varna">Varna</a></li>
    <li><a href="/Burgas">Burgas</a></li>
    <li><a href="/documents/all">All Entries in JSON</a></li>
  </ul>
</div>
</nav>
<div class="container">
  {{{body}}}
</div>
</body>
</html>
